VITE_STORAGE_PROVIDER=

VITE_HUAWEI_OBS_AK=
VITE_HUAWEI_OBS_SK=
VITE_HUAWEI_OBS_SERVER=
VITE_HUAWEI_OBS_BUCKET=

VITE_VOLCENGINE_TOS_AK=
VITE_VOLCENGINE_TOS_SK=
VITE_VOLCENGINE_TOS_ENDPOINT=
VITE_VOLCENGINE_TOS_REGION=
VITE_VOLCENGINE_TOS_BUCKET=
